<!-- footer.html -->
<footer class="footer">
    <div class="footer-container">
        
        <!-- Social Media Links -->
        <div class="social-icons">
            <a href="#"><img class="social-icon-img" src="assets/icons/linkedin.svg" alt="Linkedin"></a>
            <a href="#"><img class="social-icon-img" src="./assets/icons/github.svg" alt="Github"></a>
        </div>

        <!-- Copyright Line -->
        <div class="footer-bottom">
            <p>&copy; 2024 Fitness App. All Rights Reserved.</p>
        </div>
    </div>
</footer>
