<!-- footer.html -->
<footer class="footer">
    <div class="footer-container">
        
        <!-- Social Media Links -->
        <div class="social-icons">
            <a href="#"><img class="social-icon-img" src="/assets/icons/profile.svg" alt="Linkedin"></a>
            <a href="#"><img class="social-icon-img" src="https://raw.githubusercontent.com/EnmaSantos/vitality_vista/e816b3d90be20baf90fd09869a03b134bfbbd950/components/assets/icons/github.svg" alt="Github"></a>
        </div>

        <!-- Copyright Line -->
        <div class="footer-bottom">
            <p>&copy; 2024 Fitness App. All Rights Reserved.</p>
        </div>
    </div>
</footer>
