<!-- footer.html -->
<footer class="footer">
    <div class="footer-container">
        
        <!-- Social Media Links -->
        <div class="social-icons">
            <a href="#"><img class="social-icon-img" src="/components/assets/icons/facebook.svg" alt="Facebook"></a>
            <a href="#"><img class="social-icon-img" src="/components/assets/icons/twitter.svg" alt="Twitter"></a>
            <a href="#"><img class="social-icon-img" src="/components/assets/icons/instagram.svg" alt="Instagram"></a>
        </div>

        <!-- Copyright Line -->
        <div class="footer-bottom">
            <p>&copy; 2024 Fitness App. All Rights Reserved.</p>
        </div>
    </div>
</footer>
