<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-brand">
        <a href="index.html">Brand</a>
    </div>
    
    <!-- Hamburger Icon for Mobile -->
    <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    
    <!-- Navbar Links -->
    <ul class="nav-links" id="nav-links">
        <li><a href="index.html">Dashboard</a></li>
        <li><a href="food-log.html">Food Log</a></li>
        <li><a href="exercise-log.html">Exercise Log</a></li>
        <li><a href="progress.html">Progress</a></li>
        <li><a href="recipes.html">Recipes</a></li>
    </ul>

    <div class="profile-icon">
        <img src="https://raw.githubusercontent.com/EnmaSantos/vitality_vista/e816b3d90be20baf90fd09869a03b134bfbbd950/components/assets/icons/profile.svg" alt="Profile">
    </div>
</nav>



