/* footer.css */

.footer {
    color: #ffffff;
    padding: 1.5rem 0;
    text-align: center;
    transition: background-color 0.3s ease; /* Smooth transition for dynamic color change */
    height: 16%;
    border: 15px solid red;
}

/* Styling for the Social Media Icons */
.social-icons {
    display: flex;
    gap: 1rem; /* Space between icons */
    justify-content: center; /* Center icons horizontally */
    padding: 1rem 0; /* Padding around the icons */
}

.social-icons a img {
    width: 24px; 
    height: 24px; 
    transition: transform 0.3s ease; /* Optional: Adds a smooth hover effect */
}



.social-icons a img:hover {
    transform: scale(1.1); /* Optional: Slightly enlarge on hover for effect */
}

.social-icon-img {
    width: 10px;
    height: 10px;
    transition: transform 0.3s ease;
}

