/* footer.css */

.footer {
    color: #ffffff;
    padding: 1.5rem 0;
    text-align: center;
    transition: background-color 0.3s ease; /* Smooth transition for dynamic color change */
    height: 16%;
    border: 15px solid red;
}

.social-icons a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease, fill 0.3s ease; /* Smooth color and scale transition */
}

.social-icons a img:hover {
    transform: scale(1.1);
}

.footer-bottom p {
    font-size: 0.875rem;
    margin: 0;
    color: #f1f1f1;
}
